# Test files and coverage
anvil-state.tmp.json

# Foundry build artifacts
tests/anvil/SimpleStorage/cache/
tests/anvil/SimpleStorage/out/
tests/anvil/SimpleStorage/foundry.toml
tests/anvil/SimpleStorage/src/Counter.sol

# Environment and local config
.env

# Build output
dist/
node_modules/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
